@use "@scss/common.scss" as *;

.content3-cq {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  * * {
    color: #fff;
  }

  .cover {
    position: relative;
    width: 100%;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
    background: url("@assets/cq.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media (max-width: 768px) {
      padding: 0 2rem;
    }
  }

  .cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009f;
    z-index: 1;
  }

  .title-wrapper {
    position: absolute;
    z-index: 2;
    padding: 0 15rem;

    @media (max-width: 768px) {
      padding: 0 2rem;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  .desc {
    font-size: 25px;
  }

  .node {
    font-size: 28px;
    color: #ffffff;
    background-color: $primary-color;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .content {
    min-height: 100vh;
  }

  .content-32 {
    min-height: 100vh;
    margin-top: 300px;

    @media (max-width: 768px) {
      margin-top: 200px;
    }

    .tag {
      display: inline-block;
      font-size: 20px;
      color: #000;
      background-color: #ffffff;
      padding: 5px 20px;
      border-radius: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      border: 2px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 0 10rem;
      margin-bottom: 45px;

      @media (max-width: 768px) {
        font-size: 16px;
        margin: 0 2rem;
        margin-bottom: 45px;
      }
    }

    p {
      font-size: 19px;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    .content {
      padding: 0 10rem;
      display: grid;
      grid-template-columns: 100%;
      gap: 50px;

      @media (max-width: 768px) {
        padding: 0 2rem;
        gap: 20px;
        grid-template-columns: 1fr;
      }
    }

    .section-content {
      width: 100%;

      p {
        width: 100%;
        max-width: 100% !important;
      }
    }

    .section-content-32 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 2rem;
      opacity: 0.5;
      transition: opacity 0.5s ease-in-out;
      margin-bottom: 200px;
      column-gap: 50px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        margin-bottom: 100px;
      }

      &.active {
        opacity: 1;
      }

      .content-block {
        display: contents;

        .text {
          grid-column: 1 / span 1;
        }

        .image {
          img {
            width: 100%;
            max-height: 370px;
            border-radius: 10px;
            object-fit: cover;
          }
        }

        &.right {
          .text {
            grid-column: 2 / span 1;
          }

          .image {
            grid-column: 1 / span 1;
          }
        }
      }

      .section-title {
        font-size: 34px;
        font-weight: 700;
        color: #000;
        margin-bottom: 15px;
      }

      .section-content {
        * * {
          font-size: 20px;
          color: #000;
        }
      }
    }

    .navbar {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $primary-dark-color;
      color: white;
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      transform: translateY(100%);
      transition: transform 0.5s ease-in-out;
      z-index: 15;

      &.show {
        transform: translateY(0);
      }

      .navbar-content-32 {
        display: flex;
        overflow-x: auto;
        gap: 5rem;
        white-space: nowrap;
        scroll-behavior: smooth;

        .nav-item-32 {
          white-space: nowrap;
          font-size: 0.9rem;
          opacity: 0.6;
          transition: opacity 0.3s ease;
          cursor: pointer;

          @media (max-width: 768px) {
            font-size: 12px;
            max-width: 100vw;
          }

          &.highlighted {
            opacity: 1;
            color: rgb(255, 255, 255);
          }
        }
      }

      .progress-bar {
        height: 3px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        transition: width 0.3s ease-in-out;
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15rem;
    margin-bottom: 60px;

    @media (max-width: 1100px) {
      padding: 0 1rem;
    }

    &-icon {
      font-size: 120px;

      * {
        color: #000;
      }
    }

    &-content {
      padding: 25px 100px;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      justify-content: center;
      background-color: #fff;
      color: #000;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

      @media (max-width: 1100px) {
        padding: 25px 1rem;
      }
    }
  }
}
