.home-part1 {
  min-height: 100vh;
  width: 100%;
  background-image: url("@assets/content-bg.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;

  .cover {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.262);
  }

  .content {
    height: 100%;
    width: 100%;
  }
}
